div.loading{
	background-image: url(http://127.0.0.1/pizzario/images/productApp/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
	
div#productApp {
	 background: #fbfbfb;
	 width: 100%;
	 height: 486px;
	 /*-webkit-box-shadow: 0px 0px 5px 2px ;
	 -moz-box-shadow: 0px 0px 5px 2px ;
	 box-shadow: 0px 0px 5px 2px ; */
}

div#productApp h1 {
	color: #C0A55A;
}
	
#appNavigation {
    background: #DFE3CB;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #555;
	overflow: hidden;
}

#productApp button{
/*   background: #b8cc81;*/
}

ol, ul {
    list-style: none outside none;
}



#appNavigation li {
/*	text-align: center;*/
	width: 20%;
    color: #726B6B;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 35px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
/*    border-right: 1px solid black;*/
/*    background: url("http://127.0.0.1/pizzario/images/productApp/nav-second.png") no-repeat right transparent;*/
}

#appNavigation li{
	background: url("http://127.0.0.1/pizzario/images/productApp/arrow.png") no-repeat right transparent;

}


#appNavigation li:last-of-type{
	border-right: none;
}

#appNavigation li.activated {
/*    background: url("http://127.0.0.1/pizzario/images/productApp/nav-second.png") no-repeat transparent;*/
/*   background: green;*/
text-decoration: underline;
font-weight: bold;
background: url("http://127.0.0.1/pizzario/images/productApp/bg_active.png") repeat-x scroll 0 0 transparent;
    color: #705E47;
}

#appNavigation li.activated a {
    background: url("http://127.0.0.1/pizzario/images/productApp/arrow.png") no-repeat scroll right top transparent;
    color: #705E47;
    
}


#appNavigation li a {
    display: block;
    padding: 0 38px 0 20px;
    text-decoration: none;
    color: #111;
}





table#sidebar_table{
	margin-top: -40px;
}

table#sidebar_table td{
	width: 100px;
	height: 70px;
/*	border: 1px solid black;*/
	padding: 2px;
}

div#sidebar_table2_div{
	margin-top: -10px;
	width: 233px;
	height: 380px;
	overflow: scroll;
	overflow-x: hidden;
}

table#sidebar_table2{
/*	margin-top: -20px;*/
	
}

table#sidebar_table2 td{
	width: 100px;
	height: 70px;
/*	border: 1px solid black;*/
	padding: 2px;
}

.center{
	text-align: center;
}

.nav_button{
	width: 95px;
}

.nav_div{
/*	margin-top: 120px;*/
	bottom: 0;
	position: absolute;
	margin-bottom: 22px;
}

div#appSideBar{
	background: #DFE3CB;
	float: left;
	width: 233px;
	height: 434px;
/*	padding: 15px;*/
	padding-top: 15px;
	border-right: 1px solid gray;
}

div#appView{
	background-color: #DFE3CB;
	float: left;
	width: 536px;
	height: 320px;
	padding: 15px;
	border-bottom: 1px solid gray;
/*	-webkit-box-shadow: inset 3px -3px 0px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 3px -3px 0px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 3px -3px 0px 0px rgba(0, 0, 0, 0.5);*/
}

div#appView2{
	background: #DFE3CB;
	float: left;
	width: 551px;
	height: 434px;
/*	padding: 15px;*/
	padding-top: 15px;
	padding-left: 15px;
/*	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 3px 0px 0px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 3px 0px 0px 0px rgba(0, 0, 0, 0.5);*/
}

div#appSelector{
	 background: #DFE3CB;
	 float: left;
	 width: 551px;
	 height: 83px;
	 padding-left: 15px;
	 padding-top: 15px;
/*	 padding: 3px 15px;*/
/*	 -webkit-box-shadow: inset 3px 0px 0px 0px rgba(0, 0, 0, 0.5);
	 -moz-box-shadow: inset 3px 0px 0px 0px rgba(0, 0, 0, 0.5);
	 box-shadow: inset 3px 0px 0px 0px rgba(0, 0, 0, 0.5);*/
}

div#appSelector2 li {
	float: left;
	height: 100%;
	width: 74px;
	font-size: 11px;
/*	padding: 2px;*/
	word-wrap: break-word;
	padding-left: 2px;
	padding-right: 3px;
	border-right: 1px solid gray;
}

#appMainWindow2, #appMainWindow3, #appMainWindow4, #appMainWindow5{
	display: none;
}

button.nav_button{
	background: none repeat scroll 0 0 #6AC7FC;
    border: 1px solid #39ADF0;
    color: white;
    cursor: pointer;
    font: bold 11px "Trebuchet MS",sans-serif;
    padding: 6px;
    text-shadow: 1px 1px 0 #7A7A7A;
    text-transform: uppercase;
}

button.nav_button:hover{
	background: none repeat scroll 0 0 #70D2FD;
}





table#view2_table_head{
	margin-top: 10px;
	margin: 0px auto;
	display: none;
}

table#view3_table_head{
	margin-top: 10px;
	margin: 0px 10px;
	display: none;
}

table#view2_table_head td:nth-child(1){	width: 140px; }
table#view2_table_head td:nth-child(2){	width: 100px; }
table#view2_table_head td:nth-child(3){	width: 180px; }
table#view2_table_head td:nth-child(4){	width: 70px; }

table#view3_table_head td:nth-child(1){	width: 140px; }
table#view3_table_head td:nth-child(2){	width: 100px; }
table#view3_table_head td:nth-child(3){	width: 100px; }

table#view2_table_head td, table#view3_table_head td{
	padding: 2px;
	text-align: center;
/*	border: 1px solid black;*/
}

div#overflow{
	height: 334px;
	width: 100%;
/*	margin-top: 10px;*/
	overflow: scroll;
	overflow-x: hidden;
}


table#view2_table_main{
	display: none;
}

table#view2_table_main td:nth-child(1){	width: 140px; }
table#view2_table_main td:nth-child(2){	width: 100px; }
table#view2_table_main td:nth-child(3){	width: 180px; }
table#view2_table_main td:nth-child(4){	width: 70px; }

table#view3_table_main td:nth-child(1){	width: 140px; }
table#view3_table_main td:nth-child(2){	width: 100px; }
table#view3_table_main td:nth-child(3){	width: 100px; }

table#view3_table_main td{
	padding: 2px;
	text-align: center;
}

table#view3_table_main img{
	float: left;
	height: 50px;
	width: 50px;
}

table#view3_table_main td:nth-child(1) p{
	margin-top: 14px;
	margin-left: 6px;
	margin-bottom: 0px;
	float:left;
/*	border: 1px solid black;*/
}

table#view3_table_main td:nth-child(2) p{
	margin-left: 6px;
	margin-bottom: 0px;
/*	border: 1px solid black;*/
}


table#view2_table_main td{
	padding: 2px;
	text-align: center;
/*	border: 1px solid black;*/
}

table#view2_table_main img{
	float: left;
	height: 50px;
	width: 50px;
}

table#view2_table_main p{
	margin-top: 14px;
	margin-left: 6px;
	margin-bottom: 0px;
	float:left;
/*	border: 1px solid black;*/
}

table#view2_table_main p#view3Hoeveelheid, table#view2_table_main p#view4Hoeveelheid{
	margin-top: 0px;
}

table#view2_table_main button{
	cursor: pointer;
	text-align: center;
	background: #fff;
	/*border-radius: 3px;*/
/*	border: 1px solid black;*/
}

table#view2_table_main button.down{
	text-align: center;
	background: #b8cc81;
/*	border: 1px solid black;*/
}



table#view2_table_foot{
	display: none;
	bottom: 0;
	position: absolute;
	margin-bottom: 30px;
}

table#view2_table_foot td:nth-child(1){	width: 160px; }
table#view2_table_foot td:nth-child(2){	width: 60px; }
table#view2_table_foot td:nth-child(3){	width: 218px; }
table#view2_table_foot td:nth-child(4){	width: 30px; }

table#view2_table_foot td{
	padding: 3px;
	text-align: center;
	border-top: 1px solid gray;
}


.successApp{
	background-color: #E3FFCD;
    border: 1px solid #A3C159;
    color: #5E6F33;
    padding: 15px;
    width: 194px;
}

.warningApp{
	background-color: #FFF0BC;
    border: 1px solid #D3BC6F;
    color: #9E660D;
    padding: 15px;
    width: 194px;
}

.errorApp{
	background-color: #FFC7C2;
    border: 1px solid #FF8C80;
    color: #A22121;
    padding: 15px;
    width: 194px;
}












/*
table#view2_table td{
	width: 164px;
	height: 70px;
	padding: 2px;
}

table#view2_table td img{
	float:left;
	margin-right: 10px;
}
table#view2_table td p{
	float:left;
}
table#view2_table td h4{
	float:left;
}*/

