@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
html {
	margin: 0px;
	padding: 0px;
	position: relative;
	background: url('../images/img_BG.png') repeat top left;
	height: 100%;
}
body{
	color: #555;
	text-align: left;
	line-height: 1.67em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#wrapper{
	margin: 0 auto;
	width: 960px;
}
/* =========== */
/* header      */
/* =========== */
header {
	height: 210px;
	width: 940px;
	position: relative;
	background: url('../images/img_banner_banner.png') no-repeat scroll center bottom transparent;
}

/* navigation */
nav {
	padding-top: 25px;
	padding-left: 202px;
	width: 680px;
	position: relative;
}

#header_nav li {
	display: inline;
	margin-left: 18px;
	margin-right: 18px;
}
/* end navigation */


/* login */
div#inlog {
	width: 232px;
	height: 66px;
	position: relative;
	margin-left: 690px;
	padding-top: 15px;
}

input.right_input{
	float: right;
	width: 120px;
}

.remember_me { margin-left: 18px; }
.remember_me_text { font-size: 11px;}


input.aanmeldInput {
	float: right;
	width: 90px;
	color: #666666;
}
/* end login */

/* =========== */
/* end header  */
/* =========== */

/* =========== */
/* content     */
/* =========== */
section#main_content {
	height: auto;
	width: 940px;
	position: relative;
	background: url('../images/img_content_bgsmall.png') repeat-y scroll center bottom transparent;
}

article {
	padding-left: 80px;
	width: 780px;
}
/* =========== */
/* end content */
/* =========== */

/* =========== */
/* footer      */
/* =========== */
footer {
	height: 55px;
	width: 940px;
	position: relative;
	background: url('../images/img_content_footer.png') repeat-y scroll center bottom transparent;
	margin-bottom: 6px;
}
div.footer_center {
	text-align: center;
	padding-top: 29px;
}

#footer_nav li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}
/* =========== */
/* end footer  */
/* =========== */

p {
	margin-bottom: 18px;
	height: auto;
}
img {
	padding: 0 !important;
	border: none !important;
	background: none !important;
}
.clear {
	clear: both;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0px;
}
.hidden {
	display: none;
}
.no-margin {
	margin-right: 0 !important;
}