@charset "utf-8";
* {margin:0; padding:0;}
html{overflow-y: scroll;}
html, body {margin:0px; padding:0px; font-family: Arial,Helvetica,sans-serif; font-size: 13px; position:relative; line-height: 1.67em;  background:url('../images/img_BG.png') repeat top left; color:#555; text-align:left; height: 100%;}
p {margin-bottom:18px; height:auto;}
img {padding:0 !important; border:none !important; background:none !important;}
.clear {clear: both; height: 0; width: 0; line-height: 0; font-size: 0px;}
.hidden {display:none;}
.no-margin {margin-right:0 !important;}

#site-wrapper {height: auto; position:relative; overflow:hidden;}
.container {position:relative; margin:0 auto; width:960px;}

div#boven{height:210px; width:940px; position:relative; background:url('../images/img_banner_banner.png') no-repeat scroll center bottom transparent;}

div#inlog{width:232px; height:65px; position:relative;margin-left:690px;padding-top:15px;}
div#inlogText{text-align:right; color:#666666; width:100px;padding-right:7px; overflow:hidden;position:relative;float: left;}
input#inlogInput{width: 120px;position:relative;}
input#onthouInput{overflow:hidden;position:relative;float: left;margin-top:3px;margin-left:24px;}
div#onthouText{color:#666666;overflow:hidden;position:relative;float: left; font-size:10px;}
div#inlogSubmit{text-align:right;position:relative; }
input#aanmeldInput{ text-align: right;width: 90px; text-align:center; color:#666666;}

div#menu{padding-top:26px; padding-left:200px;width:680px;position:relative;float:left;}
div#menuItem{padding-right:20px; padding-left:20px; overflow:hidden;position:relative; float:left;}

div#content{height:auto; width:940px; position:relative; background:url('../images/img_content_bgsmall.png') repeat-y scroll center bottom transparent;}
div#contenttext{padding-left:80px; width:780px;}

div#onder{height:55px; width:940px; position:relative; background:url('../images/img_content_footer.png') repeat-y scroll center bottom transparent;margin-bottom:6px;}
div#onderbinnen{width:940; text-align:center;padding-top:29px;}
a#sociaal{margin-left:20px; margin-right:20px;}
