@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html, body{
                padding: 0px;
                margin: 0px;
        }
		
html {
	margin: 0px;
	padding: 0px;
	position: relative;

	background: url('../images/img_BG.png') repeat top left;
}

body{
	color: #555;
	text-align: left;
	line-height: 1.67em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-bottom: 40px;
}

#wrapper{
	margin: 0 auto;
	width: 960px;
}



div#footer:hover{
	background: url('../images/bar/bottombarshadow2.png') repeat top left;
}

/* =========== */
/* header      */
/* =========== */
header {
	height: 208px;
	width: 940px;
	position: relative;
	background: url('../images/img_banner_banner.png') no-repeat scroll center bottom transparent;
}

/* navigation */
nav {
	padding-top: 23px;
	padding-left: 202px;
	width: 530px;
	position: relative;
}

#header_nav li {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
}

div#search {
	width: 175px;
	margin-left: 740px;
	margin-top: -30px;
	position: relative;
	text-align: right;
}

input.zoeken {
	width: 100px;
}

/* end navigation */

/* login */
div.inlog {
	width: 232px;
	height: 66px;
	position: relative;
	margin-left: 690px;
	padding-top: 15px;
}

input.right_input {
	float: right;
	width: 120px;
}

.remember_me { margin-left: 18px; }
.remember_me_text { font-size: 11px;}

input.aanmeldInput {
	float: right;
	width: 90px;
	color: #666666;
}

/*slider*/
#example {
	position: relative;
	float: left;
	width: 780px;
	height: 267px;
	margin-bottom: 45px;
}

div #legenda {
	padding-left:100px;
}
	
	div.legendaItem{
		padding-left:50px;
		padding-right:50px;
		float:left;
	}
	
	/* end login */

	/* =========== */
	/* end header  */
	/* =========== */

	/* =========== */
	/* content     */
	/* =========== */
	section#main_content {
		height: auto;
		width: 940px;
		position: relative;
		background: url('../images/img_content_bgsmall.png') repeat-y scroll center bottom transparent;
	}

	div#content {
		padding-left: 80px;
		width: 800px;
	}

	input.aantal {
		width: 20px;
		font-size: 10px;
		height: 14px;
		border:1px solid #000000;
		position:relative;
		margin-left:2px;
		margin-right:2px;
		float:right;

	}

	img.bestellenButtons {
		vertical-align: baseline;
		border:1px solid #000000;
		position:relative;
		float:right;
		cursor: pointer;
	}
	/* =========== */
	/* end content */
	/* =========== */

	/* =========== */
	/* footer      */
	/* =========== */
	footer {
		height: 55px;
		width: 940px;
		position: relative;
		background: url('../images/img_content_footer.png') repeat-y scroll center bottom transparent;
		margin-bottom: 6px;
	}
	div.footer_center {
		text-align: center;
		padding-top: 29px;
	}

	#footer_nav li {
		display: inline;
		margin-left: 20px;
		margin-right: 20px;
	}
	/* =========== */
	/* end footer  */
	/* =========== */

	p {
		/*	margin-bottom: 18px;*/
		height: auto;
	}

	img 		{ padding: 0 !important; border: none !important; background: none !important; }
	.clear 		{ clear: both; height: 0; width: 0; line-height: 0; font-size: 0px; }
	.hidden 	{ display: none; }
	.no-margin 	{ margin-right: 0 !important; }

	/*
	 *Productlijst
	*/
table.productlijst           { width: 100%; line-height: 1.0em; border: 0; font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; border-spacing:0px;}
 table.productlijst thead tr        { font-weight: bold; font-size: 18px; color: #c0a55a; height: 25px; }
 table.productlijst th          { text-align: right; }
 table.productlijst th:first-child       { width: 350px; text-align: left; }
 table.productlijst th:nth-child(2)       { width: 100px; }
 table.productlijst th:nth-child(3)       { width: 120px; }
 table.productlijst th:nth-child(4)       { width: 110px; }
 table.productlijst th:nth-child(5)       { width: 110px; }
 table.productlijst tr          { font-size: 12px; }
 table.productlijst tr:nth-child(odd)      { }
 table.productlijst tr:nth-child(odd) td:first-child  { padding-left: 10px;}
 table.productlijst tr:nth-child(even)      { font-size: 10px; vertical-align:baseline;}
 table.productlijst tr:nth-child(even) td:first-child  { padding-left: 20px;  padding-bottom:6px;}
 table.productlijst td          { text-align: right; }
 table.productlijst td:first-child       { text-align: left; }

	/* =========== */
	/* Start Beheer_Gebruikers  */
	/* =========== */

	div#gebruikers{
		line-height:1.0em;
		padding: 0px;
	}

	table#gebruikerTable{
		line-height:1.0em;
		padding: 0px;
		border: 1px solid #000000;
	}

	.beheerInput{
		width: 250px;
	}

	div#navigatie{
		width: 300px;
		height: 50px;
		float: left;
	}

	div#zoekGebruiker{
		width: 300px;
		height: 50px;
		float: right;
	}

	/*
	 * Messages
	 */
	 .info, .success, .warning, .error, .validation {
	 	font-size: 11px;
	 	border: 1px solid;
	 	margin: 10px 0px;
	 	padding: 5px 5px 5px 40px;
	 	background-size: 20px;
	 	background-repeat: no-repeat;
	 	background-position: 10px center;
	 	/*		display: block;*/
	 	width: 250px;
	 }
	 .info {
	 	color: #00529B;
	 	background-color: #BDE5F8;
	 	background-image: url('../images/icons/info.png');
	 }
	 .success {
	 	color: #4F8A10;
	 	background-color: #DFF2BF;
	 	background-image: url('../images/icons/success.png');
	 }
	 .warning {
	 	color: #9F6000;
	 	background-color: #FEEFB3;
	 	background-image: url('../images/icons/warning.png');
	 }
	 .error {
	 	color: #D8000C;
	 	background-color: #FFBABA;
	 	background-image: url('../images/icons/error.png');
	 }

	/*
	 * Form
	 */
	 form.singleForm {
	 	font: normal 13px Arial, Helvetica, sans-serif;
	 	line-height: 2em;
	 }
	 form.singleForm p {
	 	padding: 5px;
	 }
	 form.singleForm label {
	 	width: 200px;
	 	float: left;
	 }
	 form.singleForm input[type="text"], form.singleForm input[type="password"] {
	 	font: normal 13px Arial, Helvetica, sans-serif; ;
	 	padding: 4px;
	 }
	 form.singleForm .margRight {
	 	margin-left: 200px;
	 }
	 form.singleForm input[type="submit"], form.singleForm input[type="button"], form.singleForm button {
	 	border: 1px solid #39adf0;
	 	background: #6ac7fc;
	 	color: white;
	 	font: bold 13px Arial, Helvetica, sans-serif;
	 	text-transform: uppercase;
	 	text-shadow: 1px 1px 0 #7a7a7a;
	 	padding: 6px;
	 	cursor: pointer;
	 	width: 145px;
	 }
	 form.singleForm input[type="submit"]:hover, form.singleForm input[type="button"]:hover, form.singleForm button:hover {
	 	background: #70d2fd;
	 }

	/*
	 * Cart
	 */
	 table.cart {
	 	font: bold 12px "Trebuchet MS", sans-serif;
	 	line-height: 1.0em;
	 	padding: 0px;
	 	border-collapse: collapse;
	 	width: 100%;
	 }
	 table.cart th {
	 	font-size: 18px;
	 	color: #c0a55a;
	 	height: 25px;
	 }
	 table.cart tr {
	 	height: 25px;
	 }
	 table.cart td:last-child {
	 	text-align: right;
	 }
	 table.cart td.upperBorder {
	 	border-top: 1px #000 solid;
	 }
	 table.cart div.checkout-div {
	 	width: 100%;
	 	text-align: right;
	 }

	 table.cart button, div.checkout-div input[type="submit"], table.cart div.checkout-div input[type="button"] {
	 	border: 1px solid #39adf0;
	 	background: #6ac7fc;
	 	color: white;
	 	font: bold 11px "Trebuchet MS", sans-serif;
	 	text-transform: uppercase;
	 	text-shadow: 1px 1px 0 #7a7a7a;
	 	padding: 6px;
	 	cursor: pointer;
	 }
	 table.cart button:hover, div.checkout-div input[type="submit"]:hover, table.cart div.checkout-div input[type="button"]:hover {
	 	background: #70d2fd;
	 }

/* =========== */
/* Start Home */
/* =========== */

div#homeNewsTitel{
	width: 600px;
	font-size: 26pt;
	height: 70px;
	border:1px solid #000000;
}

div#homeNewsInhoud{
	width: 600px;
	font-size: 16pt;
	height: auto;
	border:1px solid #000000;
}

/* =========== */
/* End Home */
/* =========== */

/* =========== */
/* Start Beheer_News */
/* =========== */

div#updateNews{
	padding-top: 25px;
}

#titelInput{
	width: 600px;
}

#inhoudInput{
	width: 600px;
	height: 300px;
}

#activateNews{
	width: 200px;
}

#cancelNews{
	width: 200px;
}

div#navigatieNews{
	
	width: 500px;
	padding-top: 10px;
	margin-left: 103px;
}

div#newsOpgeslagen{
	padding-top: 15px;
	font-weight: bold;
}

/* =========== */
/* End Beheer_Gebruikers  */
/* =========== */



/* End Beheer_News */
/* =========== */	 

 div#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	font-size: 14px;
	background: url('../images/bar/bottombarshadowOver2.png') repeat top left;
}

div#barInlog{
	padding-left:60px;
}

ul#inlogul{
margin-right:50px;
}

ul#inlogul li{
	display:inline;
	cursor:pointer;
}

ul#inlogul li a{
	text-decoration:none;
	color: #555555;
	float:left;
	margin-top:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
	height:40px;
}

ul#inlogul li a:hover{
	background:url('../images/bar/bottombarshadowOverOver2.png');
	color: #333333;
	text-decoration: underline;
}

ul#inlogul li img{
	margin-top:10px;
	float:left;
}

div#barLinks{
	padding-left:300px;
}

ul#linksUl{
margin-right:50px;
}

ul#linksUl li{
	display:inline;
	cursor:pointer;
}

ul#linksUl li a{
	text-decoration:none;
	color: #555555;
	float:left;
	margin-top:6px;
	padding-top:4px;
	padding-left:10px;
	padding-right:10px;
	height:40px;
}

ul#linksUl li a:hover{
	background:url('../images/bar/bottombarshadowOverOver2.png');
	color: #333333;
}

ul#linksUl li img.tussenLinks{
	margin-top:10px;
	float:left;
}

img.imgLinks{
	width:25px;
	height:25px;
}

div#barCart{
	float:left;
}

table#cartTable{
	margin-top:6px;
	height:40px;
	font-size: 14px;
	padding-left:10px;
	padding-right:10px;
}

table#cartTable a{
	text-decoration:none;
	color: #555555;
}

table#cartTable a:hover{
	text-decoration:underline;
	color: #333333;
}

table#cartTable:hover{
	background:url('../images/bar/bottombarshadowOverOver2.png');
}

img#barWinkelwagen{
	width:20px;
	height:20px;
}

img.barTussen{
	margin-top:10px;
}

td.cartTd{
	padding-bottom:6px;
}

div#barKorting{
	padding-left:860px;
}

div#barKorting a{
	text-decoration:none;
	color: #555555;
}

div#barKorting a :hover{
	text-decoration:underline;
	color: #333333;
}